<script>Turbolinks.pagesCached(0);
console.log('restored page')</script>

<%= link_to :back, :class => "fa fa-arrow-circle-o-left fa-lg" do %>
  Back
<% end %>
<br><br>
<div dir="<%=@direction%>">
<div class="panel panel-default">
  	<div class="panel-heading">
   		<h1 class="panel-title"><%=@quiz.title%></h1>
  	</div>
  	<div class="panel-body">
		<p>Please read the information below very carefully, when you click 'Start Quiz' your time will be started and this will count towards the number of attempts allowed.</p>
		<p><strong>Description</strong><br><%=@quiz.description%></p>
		<p><strong>Instructions </strong><br><%=@quiz.instructions%></p>
		<p><strong>Attempts Remaining </strong><%=@attemptRemaining%></p>
		<p><strong>Time Allowed </strong><%=@time_allowed%> minutes</p>
		<p><strong>Number of questions </strong><%=@quiz.questions.count%></p>


<br><br>

<% if @attemptRemaining <= 0%>
	You have 0 attempts remaining. You may not take this quiz again.
<% else %>
	<div id="button_text">
		<button type = "button" class="btn btn-primary">
		<%= link_to 'Start Quiz', new_quiz_page_path(:userQuiz => params[:userQuiz]) %></button>
	</div>
<% end %>
  	</div>
</div>
</div>
