<%= form_tag({:controller => "quiz_pages", :action => "grading"}) do%>
<div dir="<%=@direction%>">
	<% if @quiz.shuffleQuestions %>
		<% @quiz.questions.shuffle.each do |question| %>
			<%= question.body %><br>
			<% question.answers.each do |answer| %>
				
		       		<%= radio_button_tag("answer[#{question.id}]", answer.id) %>
		        	<%= label("answer_".concat(answer.id.to_s).to_sym, answer.answerString) %>
		      	<br>
			<% end %>
			<br><br>
		<% end %>
	<% else %>
		<% @quiz.questions.each do |question| %>
			<%= question.body %><br>
			<% question.answers.each do |answer| %>
				
		       		<%= radio_button_tag("answer[#{question.id}]", answer.id) %>
		        	<%= label("answer_".concat(answer.id.to_s).to_sym, answer.answerString) %>
		      	<br>
			<% end %>
			<br><br>
		<% end %>
	<% end %>
	
		

	<div class="actions form-group" id="button_text">
		<p>
		<%= button_tag(type: 'submit', class: "btn btn-primary", name:"userQuiz", value:params[:userQuiz]) do %>
	 	Submit
		<% end %>
		</p>
		</div>
</div>

<% end %>

