Time remaining: <span id="countdown"></span><br>

<%= form_tag({:id => 'quiz_form', :controller => "quiz_pages", :action => "save_results"}) do%>
<div dir="<%=@direction%>">
	<% if @quiz.shuffleQuestions %>
		<% @quiz.questions.shuffle.each do |question| %>
			<%= question.body %><br>
			<% if @quiz.shuffleAnswers %>
				<% question.answers.shuffle.each do |answer| %>
		       		<%= radio_button_tag("answer[#{question.id}]", answer.id) %>
		        	<%= label("answer_".concat(answer.id.to_s).to_sym, answer.answerString) %>
			      	<br>
				<% end %>
			<% else %>
				<% question.answers.each do |answer| %>
		       		<%= radio_button_tag("answer[#{question.id}]", answer.id) %>
		        	<%= label("answer_".concat(answer.id.to_s).to_sym, answer.answerString) %>
			      	<br>
				<% end %>
			<% end %>
			<br><br>
		<% end %>
	<% else %>
		<% @quiz.questions.each do |question| %>
			<%= question.body %><br>
			<% if @quiz.shuffleAnswers %>
				<% question.answers.shuffle.each do |answer| %>
		       		<%= radio_button_tag("answer[#{question.id}]", answer.id) %>
		        	<%= label("answer_".concat(answer.id.to_s).to_sym, answer.answerString) %>
			      	<br>
				<% end %>
			<% else %>
				<% question.answers.each do |answer| %>
		       		<%= radio_button_tag("answer[#{question.id}]", answer.id) %>
		        	<%= label("answer_".concat(answer.id.to_s).to_sym, answer.answerString) %>
			      	<br>
				<% end %>
			<% end %>
			<br><br>
		<% end %>
	<% end %>
	
		

	<div class="actions form-group" id="button_text">
		<p>
		<%= button_tag(type: 'submit', class: "btn btn-primary", name:"userQuiz", id:"submit_quiz", value:params[:userQuiz]) do %>
	 	Submit
		<% end %>
		</p>
		</div>
</div>

<% end %>

<script>
	function updateTimeSpan() {
	    var quiz_start = "<%=@time_started%>";
	    quiz_start = convertStringToDate(quiz_start);
	    var quiz_finish = new Date();
		quiz_finish.setMinutes(quiz_start.getMinutes() + parseInt("<%=@time_allowed%>"));

	    var _second = 1000;
	    var _minute = _second * 60;
	    var _hour = _minute * 60;
    	var _day = _hour * 24;
	    var timer;

	    function showRemaining() {
	        var now = new Date();
	        var distance = quiz_finish - now;
	        if (distance < 0) {

	            clearInterval(timer);
	            document.getElementById('countdown').innerHTML = 'Time Expired';

	            alert("Your time has expired, the quiz will be submitted when you press Ok.");
	            document.getElementById("submit_quiz").click();

	            return;
	        }
	        var days = Math.floor(distance / _day);
        	var hours = Math.floor((distance % _day) / _hour);
	        var minutes = Math.floor((distance % _hour) / _minute);
	        var seconds = Math.floor((distance % _minute) / _second);
	        document.getElementById('countdown').innerHTML = minutes + 'mins ';
	        document.getElementById('countdown').innerHTML += seconds + 'secs';
	    }

	    timer = setInterval(showRemaining, 1000);
	}

	function convertStringToDate(string){
		spaceSeparate = string.split(" ")

		ymd = spaceSeparate[0].split("-");
		hms = spaceSeparate[1].split(":");
		return new Date(ymd[0], ymd[1]-1, ymd[2]-4, hms[0]+5, hms[1], hms[2], 0);
	}
	
	window.onbeforeunload = function() {
       return "Are you sure you want to leave? Answers will not be saved and this will count as an attempt.";
    };

	onload = updateTimeSpan();
</script>

