<%= form_for [@category, @question] do |f| %>
 
    <% if @question.errors.any? %>
	    <div id="error_explanation" class = "alert alert-danger">
		      <h3>
		        <%= pluralize(@question.errors.count, "error") %> prohibited
		       	this question from being saved:
		      </h3>
			      <ul>
			        <% @question.errors.full_messages.each do |msg| %>
			          <li><%= msg %></li>
			        <% end %>
			      </ul>
	    </div>
	<% end %>

	

	<div class="field form-group">
	<p>
		<%= f.label :category_id, class: 'control-label'%>	
		<%= f.select :category_id, options_from_collection_for_select(Category.where("user_id = ?", current_user.id), :id, :categoryBody , {:selected => @category.id})%>

	</p>
	</div>

	<div class="field form-group">
	<p>
		<%= f.label :language_id, class: 'control-label'%>	
		<%= f.select :language_id, options_from_collection_for_select(Language.where("user_id = ?", current_user.id), :id, :languageName , {:selected => @language.id}), { id: "questions_language_id" }%>

	</p>
	</div>

	<div class="field form-group">
	<p>
		<%= f.label :body, "Question text", class: 'control-label' %><br>
		<div id="question_body_direction" dir="<%=@direction%>">
		<%= f.text_area :body, class: 'form-control' %>
		</div>
	</p>
	</div>
	

	<h2>Answers</h2>
	<div id="answers">
		<table class="table">
			<thead>
				<tr>
					<th>Answer</th>
					<th>Correct</th>
				</tr>
			</thead>
			<tbody id="answer_table">
				<%= f.fields_for :answers do |answer| %>
					
							<%= render 'answer_fields', f: answer %>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="links">
		<div id="button_text">
          	<button type="button" class="btn btn-primary">
          		<%= link_to_add_association f, :answers, :"data-association-insertion-node" => "tbody#answer_table", :"data-association-insertion-method" => "append", :partial => "answer_fields", :class => "button" do %>Add answer <% end %>
          	</button>
        </div>
	</div>

	<br><br>

	<div class="actions form-group" id="button_text">
	<p>
	<%= button_tag(type: 'submit', class: "btn btn-primary button-submit") do %>
 	Submit
	<% end %>
	</p>
	</div>

<% end %>
