<h1>Listing Questions</h1>


<div id="button_text">
<button type = "button" class="btn btn-primary">
<%= link_to 'New Question', new_category_question_path %></button>
</div> 

<br>

<table class="table table-striped">
	<tr>
		<th>Category</th>
		<th>Question Body</th>
	</tr>

	<% @questions.each do |question| %>
		<tr>
			<td>
				<% if question.category != nil %>
		    		<%=question.category.categoryBody%>
		    	<% else %>
		    		Undefined<%=question.id%>
				<% end %>
			</td>
			<td><%= question.body %></td>
			
			<td><button type="button" class="btn btn-default"><%= link_to 'Show', category_question_path(question.category_id, question.id) %></button></td>

			<td><button type= "button" class= "btn btn-default"><%= link_to 'Edit', edit_category_question_path(question, question.id)%></button></td>
			
			<td><div id="button_text">
    		<button type="button" class="btn btn-danger"><%= link_to 'Destroy', category_question_path(question.category_id, question.id),
			method: :delete, 
			data: {confirm: 'Are you sure?'} %></button>
    		</div></td>
		</tr>
	<% end %>
</table>
