<%= link_to category_questions_path, :class => "fa fa-arrow-circle-o-left fa-lg" do %>
  Back
<% end %> 
<br><br>
<div class="panel panel-default">
  	<div class="panel-heading">
   		<h1 class="panel-title">Question Info</h1>
  	</div>
  	<div class="panel-body">
    	<p>
			<strong>Category:</strong> <%= @category %>
		</p>
    <p>
      <strong>Language:</strong> <%= @language %>
    </p>
		<p>
			<%= @question.body %>
		</p>
  	</div>
  	<div class="panel-heading">
   		<h1 class="panel-title">Answers</h1>
  	</div>
  	<ul class="list-group">
  	
    <% @question.answers.each do |answer| %>
    	<% if answer.isCorrect %>
			<li class="list-group-item list-group-item-success"><div style="float:right;">Correct</div><%= answer.answerString %></li>
		<% else %>
			<li class="list-group-item list-group-item-danger"><div style="float:right;">Incorrect</div><%= answer.answerString %></li>
		<% end %>
	<% end %>
  </ul>
</div>




<button type = "button" class="btn btn-default">
<%= link_to 'Edit', edit_category_question_path(@question, @question.id) %></button>