<h2>Question Info</h2>
<p>
	<strong>Category:</strong>
	<%= @category %>
</p>

<p>
	<strong>Question Body:</strong>
	<%= @question.body %>
</p>

<h4>Answers</h4>
<% @question.answers.each do |answer| %>
	<p>
		<strong>Answer:</strong> <%= answer.answerString %>
		<strong>isCorrect:</strong> <%= answer.isCorrect %>
	</p>
<% end %>


<%= link_to 'Edit', edit_category_question_path(@question, @question.id) %>
<%= link_to 'Back', category_questions_path %>