
<%= form_for @quiz do |f| %>

	<% if @quiz.errors.any? %>
		<div id="error_explanation" class = "alert alert-danger">
			<h2>
				<%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:
			</h2>
			<ul>
				<% @quiz.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field form-group">
	<p>
		<%= f.label :language_id, class: 'control-label'%>	
		<%= f.select :language_id, options_from_collection_for_select(Language.where("user_id = ?", current_user.id), :id, :languageName , {:selected => @language.id})%>

	</p>
	</div>

	<div class="field form-group">
	<p>
		<%= f.label :title, class: 'control-label'%>	
		<div id="quiz_title_direction" dir="<%=@direction%>">
        <%= f.text_field :title, class: 'form-control' %>
        </div>
	</p>
	</div>

	

	<div class="field form-group">
	<p>
		<%= f.label :description, class: 'control-label' %><br>
		<div id="quiz_description_direction" dir="<%=@direction%>">
		<%= f.text_area :description, class: 'form-control' %>
		</div>
	</p>
	</div>

	<div class="field form-group">
	<p>
		<%= f.label :instructions, class: 'control-label' %><br>
		<div id="quiz_instructions_direction" dir="<%=@direction%>">
		<%= f.text_area :instructions, class: 'form-control' %>
		</div>
	</p>
	</div>

	<div class="field form-group">
		<%= f.label :attemptsAllowed, "Number of attempts allowed (1-10)", class: 'control-label' %><br>
		<%= f.text_field :attemptsAllowed, class: 'form-control' %>
	</div>

	<div class="field form-group">
		<%= f.label :shuffleQuestions, "Shuffle questions" %>
		<%= f.check_box :shuffleQuestions %>
	</div>
	<div class="field form-group">
		<%= f.label :shuffleAnswers, "Shuffle answers" %>
		<%= f.check_box :shuffleAnswers %>
	</div>

	<div class="field form-group">
		<%= f.label :time_allowed, class: 'control-label' %><br>
		Please enter the time allowed for the quiz in minutes.
		<%= f.text_field :time_allowed, class: 'form-control' %>
	</div>

	

	

	<h2>Questions</h2>

	<p>Add questions to the quiz using the button below. You can add questions directly from the question
	bank or create a new question.</p>

	<br>
	<table class = "table">
		<thead>
			<tr>
				<th>Category</th>
				<th>Question</th>
				<th>Answers</th>
				<th></th>
			</tr>
		</thead>
		<tbody id = "question_table">
		<div id="questions">
		<%= f.fields_for :links do |link| %>
  		<% render 'link_fields', f: link %>
  		<% end %> 
	</div>
		</tbody>
	</table>

	<div class="links">
		<div id="button_text">
          	<button type="button" class="btn btn-primary">
          		<%= link_to_add_association f, :links, :"data-association-insertion-node" => "tbody#question_table", :"data-association-insertion-method" => "append", :class => "button" do %>Add question<% end %>
          	</button>
        </div>
	</div>

    <br><br>

	<div class="actions form-group" id="button_text">
	<p>
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
 	Submit
	<% end %>
	</p>
	</div>

	

<% end %>