
<%= form_for @quiz do |f| %>

	<% if @quiz.errors.any? %>
		<div id="error_explanation" class = "alert alert-danger">
			<h2>
				<%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:
			</h2>
			<ul>
				<% @quiz.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field form-group">
	<p>
		<%= f.label :title, class: 'control-label'%>	
        <%= f.text_field :title, class: 'form-control' %>
	</p>
	</div>

	<div class="field form-group">
	<p>
		<%= f.label :description, class: 'control-label' %><br>
		<%= f.text_area :description, class: 'form-control' %>
	</p>
	</div>

	<div class="field form-group">
	<p>
		<%= f.label :instructions, class: 'control-label' %><br>
		<%= f.text_area :instructions, class: 'form-control' %>
	</p>
	</div>

	<h2>Questions</h2>

	<p>Select a question from the question bank and add it to this quiz</p>

	<div id="questions">
	<%= link_to_add_association 'Add question', f, :links, :class => "button" %>

  	<%= f.fields_for :links do |link| %>
  	<% render 'link_fields', f: link %>
  	<% end %> 
	</div>

	<br>
	<fieldset id = "quiz-questions">
		<table class = "table">
			<thead>
				<tr>
					<th>Category</th>
					<th>Question</th>
					<th>Answers</th>
				</tr>
			</thead>
			<tbody id = "question_table">
			</tbody>
		</table>

		
	</fieldset>

    <br><br>

	<div class="actions form-group" id="button_text">
	<p>
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
 	Submit
	<% end %>
	</p>
	</div>

	

<% end %>