<tr class = "table_row" >

<div class="nested-fields link-fields" >
<div id = "new_fields">
	<div id="question_from_list">
	<!-- perform this check first, if on the edit page existing questions will have f.object.id and
	so should be displayed in this partial, if not then this will be a new question so set all the variables
	to those that should be displayed for a new question-->
	<% if f.object.id %>
		<% @link = Link.find(f.object.id) %>
		<% @catid = @link.question_category %>
		<% @quesid = @link.question_id %>
		<% @questions = Question.where('category_id = ?', @catid) %>
		<% @answers = Answer.where('question_id = ?', @quesid) %>
	<% else %>
		<% @link = Link.new %>
		<% @catid = 0 %>
		<% @quesid = 0 %>
		<% @questions = Question.where("category_id = ?", Category.first.id) %>
		<% if @questions.first != nil %>
			<% @answers = Answer.where("question_id = ?", @questions.first.id) %>
		<% else %>
			<% @answers = nil %>
		<% end %>
	<% end %>

		<td class="col-sm-1">	
			<div class = "field">
			<!-- for this field and future fields, if on edit page make sure the drop down has an id that is the
			Link id, this way it will be unique. If not then leave it as normal and it will be changed by the ajax
			when link_to_add_association is pressed -->
			<% if f.object.id %>
				<%= f.select :question_category, options_for_select(Category.all.collect { |category|
	    		[category.categoryBody, category.id] }, @catid), {}, { id: "categories_select_#{f.object.id}" } %>
			<% else %>
				<%= f.select :question_category, options_for_select(Category.all.collect { |category|
	    		[category.categoryBody, category.id] }, @catid), {}, { id: "categories_select_1" } %>
			<% end %>
				
			</div>
		</td>
		<td class="col-sm-3">
			<div class = "field">
			<% if f.object.id %>
				<%= f.select :question_id, options_for_select(@questions.collect { |question|
	    		[question.body, question.id] }, @quesid), {}, { id: "questions_select_#{f.object.id}" } %>
			<% else %>
				<%= f.select :question_id, options_for_select(@questions.collect { |question|
	    		[question.body, question.id] }, @quesid), {}, { id: "questions_select_1" } %>
			<% end %>
				
			</div>
		</td>
		<td class="col-sm-6">

		<% if f.object.id %>
			<% @field_id = "displayed_answers_#{f.object.id}" %>
			<div id= "<%= @field_id %>">
		<% else %>
			<div id="displayed_answers">
		<% end %>
			<% if @answers != nil %>
				<% @answers.each do |answer| %>
				<p>
					<strong>Answer:</strong> <%= answer.answerString %>
					<strong>isCorrect:</strong> <%= answer.isCorrect %>
				</p>
				<% end %>
			<% end %>
			</div>
			
		</td>
		<td class="col-sm-2">
			<div id="button_text">
				<button type = "button" class="btn btn-primary">
				<%= link_to_add_association 'Create new question', f, :question, {wrapper_class: 'table_row'}  %>
				</button>
				<button type="button" class="btn btn-danger">
				<%= link_to_remove_association "Remove question", f, {wrapper_class: 'table_row'} %>
				</button>
			</div>
		</td>
	</div>
	</div>
</div></tr>

