<h1>Listing Quizzes</h1>

<div id="button_text">
<button type = "button" class="btn btn-primary">
<%= link_to 'New Quiz', new_quiz_path %></button>
</div>

<table class="table table-striped">
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Instructions</th>
	</tr>

	<% @quizzes.each do |quiz| %>
		<tr>
			<td><%= quiz.title %></td>
			<td><%= quiz.description %></td>
			<td><%= quiz.instructions %></td>
			<td><button type="button" class="btn btn-default"><%= link_to 'Show', quiz_path(quiz) %></button></td>

			<td><button type= "button" class= "btn btn-default"><%= link_to 'Edit', edit_quiz_path(quiz)%></button></td>
			
			<td><div id="button_text">
    		<button type="button" class="btn btn-danger"><%= link_to 'Destroy', quiz_path(quiz),
			method: :delete, 
			data: {confirm: 'Are you sure?'} %></button>
    		</div></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', welcome_index_path %>
