<%= link_to quizzes_path, :class => "fa fa-arrow-circle-o-left fa-lg" do %>
  Back
<% end %>
<br><br>
<div class="panel panel-default">
  	<div class="panel-heading">
   		<h1 class="panel-title"><div dir="<%=@direction%>"><%=@quiz.title%></div></h1>
  	</div>
  	<div class="panel-body">
    <p>
      <strong>Language:</strong> <%= @language %>
    </p>
    	<p>
			<strong>Description:</strong> <div dir="<%=@direction%>"><%= @quiz.description %></div>
		</p>
		<p>
			<strong>Instructions:</strong> <div dir="<%=@direction%>"><%= @quiz.instructions %></div>
		</p>
    <p>
      <strong>Attempts Allowed:</strong> <%= @quiz.attemptsAllowed %>
    </p>
    <p>
      <strong>Shuffle Questions:</strong> 
      <% if @quiz.shuffleQuestions == 1 %>
        True
      <% else %>
        False
      <% end %>
    </p>
		<p>
			<strong>Number of questions:</strong> <%= @quiz.links.length %>
		</p>
  	</div>
  	<% @i=0 %>
  	<% @quiz.questions.each do |question| %>
  		<% @i = @i+1 %>
  		<div class="panel-heading">
   			<h1 class="panel-title">Question <%= @i %></h1>
  		</div>
  		<div class="panel-body">
    		<p>
				<strong>Category:</strong> <%= question.category.categoryBody %>
			</p>
			<p>
				<div dir="<%=@direction%>"><%= question.body %></div>
			</p>
				<strong>Answers:</strong>
  		</div>
  		
  		<% question.answers.each do |answer| %>
  			<%if @direction == "LTR" %>
      <% if answer.isCorrect %>
        <li class="list-group-item list-group-item-success"><div style="float:right;">Correct</div><%= answer.answerString %></li>
      <% else %>
        <li class="list-group-item list-group-item-danger"><div style="float:right;">Incorrect</div><%= answer.answerString %></li>
      <% end %>
    <% else %>
      <div dir="RTL">
      <% if answer.isCorrect %>
        <li class="list-group-item list-group-item-success"><div style="float:left;">Correct</div><%= answer.answerString %></li>
      <% else %>
        <li class="list-group-item list-group-item-danger"><div style="float:left;">Incorrect</div><%= answer.answerString %></li>
      <% end %>
      </div>
    <% end %>
  		<% end %>
  	<% end %>
  	
  </ul>
</div>

<button type = "button" class="btn btn-default">
<%= link_to 'Edit', edit_quiz_path(@quiz) %></button>