<div class="panel panel-default">

    <div class="panel-heading">
      <h1 class="panel-title" style="font-size: 20px;">Listing Groups</h1>
    </div>

    <div class="panel-body">
      <div id="button_text">
        <button type = "button" class="btn btn-primary">
        <%= link_to 'New Group', new_group_path %></button>
    </div> 

    <br>

    <table style="width:100%;" class="index">
      <tr>
        <th>Name</th>
        <th>No. Members</th>
        <th colspan="3">Manage</th>
      </tr>

      <% @groups.each do |group| %>
        <tr>
          <td style="width:auto;"><%= group.name %></td>
          <td style="width:auto;"><%= group.members.count %></td>
          
          <td style="width:5%;"><button type="button" class="btn btn-default" style="width:100%;"><%= link_to 'Show', group_path(group) %></button></td>

          <td style="width:5%;"><button type= "button" class= "btn btn-default" style="width:100%;"><%= link_to 'Edit', edit_group_path(group)%></button></td>
          
          <td style="width:5%;"><div id="button_text">
            <button type="button" class="btn btn-danger" style="width:100%;"><%= link_to 'Destroy', group_path(group),
          method: :delete, 
          data: {confirm: 'Are you sure?'} %></button>
            </div></td>
        </tr>
      <% end %>
    </table>
    </div>
</div>