<%= form_for @user_quiz do |f| %>

	<% if @user_quiz.errors.any? %>
		<div id="error_explanation" class = "alert alert-danger">
			<h2>
				<%= pluralize(@user_quiz.errors.count, "error") %> prohibited this quiz from being set:
			</h2>
			<ul>
				<% @user_quiz.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field form-group">
	<p>
		<%= f.label :quiz_id, class: 'control-label'%>	
		<%= f.select :quiz_id, options_from_collection_for_select(@quizzes, :id, :title, {:selected => @quiz.id})%>

	</p>
	</div>

	<div class="field form-group">
	<p>
		<%= f.label :group_id, class: 'control-label'%>	
		<%= f.select :group_id, options_from_collection_for_select(Group.where("staff_id = ?", current_user.id), :id, :name , {:selected => @group.id})%>

	</p>
	</div>

	<div class="field form-group">
		<%= f.label :start_date, class: 'control-label' %><br>
		<%= date_select :user_quiz, :start_date %>
	</div>

	<div class="field form-group">
		<%= f.label :end_date, class: 'control-label' %><br>
		<%= date_select :user_quiz, :end_date %>
	</div>

	

	<div class="actions form-group" id="button_text">
	<p>
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
 	Submit
	<% end %>
	</p>
	</div>


<% end %>