<table id="tiles">
	<% @userQuizzes.each do |userQuiz| %>
		<%= link_to user_quiz_path(userQuiz.id) do %>

			<% @status = calculate_status(userQuiz.start_date, userQuiz.end_date) %>
			<% if @status == "Scheduled for Release" %>
				<%@color = "#fcf8e3" %>
			<% elsif @status == "Live" %>
				<%@color = "#dff0d8"%>
			<% elsif @status == "Closed" %>
				<%@color = "#f2dede"%>
			<% end %>

			<div id="<%=userQuiz.id%>" >
			<tr style="background-color: <%=@color%>; width:100%;" data-link="<%= user_quiz_path(userQuiz.id) %>">
				<td style="text-align: left; padding:10px; width:100%;">
				<% @quiz = Quiz.find(userQuiz.quiz_id) %>
				<strong><%= @quiz.title %></strong><br>
				Released on: <%= userQuiz.start_date.strftime("%d %b %Y") %><br>
				Closing date: <%= userQuiz.end_date.strftime("%d %b %Y") %><br>
				Assigned to group: <%= Group.find(userQuiz.group_id).name %>
				</td>

				<td style="padding-right:10px; text-align: right; width:100%;">
					<%= @status %>
				</td>
			</tr>
			</div>
		<% end %>
	<% end %>
</table>

