
		


<% @userQuizzes.each do |userQuiz| %>
	<%= link_to user_quiz_path(userQuiz.id) do %>

		<% @status = calculate_status(userQuiz.start_date, userQuiz.end_date) %>
		<% if @status == "Scheduled for Release" %>
			<%@color = "#fcf8e3" %>
		<% elsif @status == "Live" %>
			<%@color = "#dff0d8"%>
		<% elsif @status == "Closed" %>
			<%@color = "#f2dede"%>
		<% end %>

		<div id="<%=userQuiz.id%>" style="padding:10px; background-color: <%=@color%>; border-radius: 10px; margin-top:10px;">
		<div style="align-self: left; display:inline-block; width:90%; height:auto; ">
					<% @quiz = Quiz.find(userQuiz.quiz_id) %>
					<strong><%= @quiz.title %></strong><br>
					Released on: <%= userQuiz.start_date.strftime("%d %b %Y") %><br>
					Closing date: <%= userQuiz.end_date.strftime("%d %b %Y") %><br>
					% of students who have taken quiz: X
				</div>
				<div style="align-self: right; display:inline-block; height: 100%; vertical-align: center;">
					<strong><%= @status %></strong>
				</div></div>
	<% end %>
<% end %>