<table id="tiles">
	<% @studentQuizzes.each do |studentQuiz| %>

		<% @status = calculate_status(studentQuiz.start_date, studentQuiz.end_date) %>
			<% if @status == "Scheduled for Release" %>
				<%@color = "#fcf8e3" %>
			<% elsif @status == "Live" %>
				<%@color = "#dff0d8"%>
			<% elsif @status == "Closed" %>
				<%@color = "#f2dede"%>
			<% end %>

		<% if studentQuiz.results_available %>
			<% @availability = "Results available" %>
		<% else %>
			<% @availability = "Results are not available" %>
		<% end %>

		<% if @status === "Live" %>

				<div id="<%=studentQuiz.id%>" >
				<tr style="background-color: <%=@color%>; width:100%;" data-link="<%= quiz_pages_path(:userQuiz => studentQuiz.id) %>">
					<td style="text-align: left; padding:10px; width:100%;">
					<% @quiz = Quiz.find(studentQuiz.quiz_id) %>
					<strong><%= @quiz.title %></strong><br>
					Released on: <%= studentQuiz.start_date.strftime("%d %b %Y") %><br>
					Closing date: <%= studentQuiz.end_date.strftime("%d %b %Y") %><br>
					Attempts taken: <%= studentQuiz.attemptsTaken %><br>
					Results: <%= @availability%>
					</td>

					<td style="padding-right:10px; text-align: right; width:100%;">
						<%= @status %>
					</td>
				</tr>
				</div>
		<% elsif @status === "Closed" && studentQuiz.results_available%>
				<div id="<%=studentQuiz.id%>" >
				<tr style="background-color: <%=@color%>; width:100%;" data-link="<%= quiz_page_path(:id => studentQuiz.id) %>">
					<td style="text-align: left; padding:10px; width:100%;">
					<% @quiz = Quiz.find(studentQuiz.quiz_id) %>
					<strong><%= @quiz.title %></strong><br>
					Released on: <%= studentQuiz.start_date.strftime("%d %b %Y") %><br>
					Closing date: <%= studentQuiz.end_date.strftime("%d %b %Y") %><br>
					Attempts taken: <%= studentQuiz.attemptsTaken %><br>
					Results: <%= @availability%>
					</td>

					<td style="padding-right:10px; text-align: right; width:100%;">
						<%= @status %>
					</td>
				</tr>
				</div>
		<% else %>

				<div id="<%=studentQuiz.id%>" >
				<tr style="background-color: <%=@color%>; width:100%;" >
					<td style="text-align: left; padding:10px; width:100%;">
					<% @quiz = Quiz.find(studentQuiz.quiz_id) %>
					<strong><%= @quiz.title %></strong><br>
					Released on: <%= studentQuiz.start_date.strftime("%d %b %Y") %><br>
					Closing date: <%= studentQuiz.end_date.strftime("%d %b %Y") %><br>
					Attempts taken: <%= studentQuiz.attemptsTaken %><br>
					Results: <%= @availability%>
					</td>

					<td style="padding-right:10px; text-align: right; width:100%;">
						<%= @status %>
					</td>
				</tr>
				</div>
		<% end %>

		
	<%end%>
</table>





