<%= link_to root_path, :class => "fa fa-arrow-circle-o-left fa-lg" do %>
  Back
<% end %>
<br><br>
<% @status = calculate_status(@user_quiz.start_date, @user_quiz.end_date) %>
<div class="panel panel-default">
  	<div class="panel-heading">
   		<h1 class="panel-title">Set Quiz Info</h1>
  	</div>
  	<div class="panel-body">
		Quiz <%= @user_quiz.quiz_id %><br>
		Student <%= @user_quiz.student_id %><br>
		Staff <%= @user_quiz.staff_id %><br><br>

		<% if @user_quiz.results.length != 0 %>
		<div class="inner-panel-title">
   			Available Actions
  		</div>
  		<% if @status == "Closed" %>
  			<div id="button_text">
			<button type = "button" class="btn btn-primary">
			<%= link_to "Release Results", { :controller => "user_quizzes", :action => "release_results", :quiz_id => @user_quiz.quiz_id} %></button>
			</div><br>
  		<% else %>
  			<p> This quiz hasn't finished yet. Results cannot be released.</p>
  		<% end %>
  		


		<div class="inner-panel-title">
   			Results
  		</div>

  		<% if @user_quiz.results_available %>
			<% @availability = "Results available" %>
		<% else %>
			<% @availability = "Results are not available" %>
		<% end %>

  		<p>
  			You can view results for each student below. General information about results is shown below:<br>
  			<strong>Average score: </strong><%= grade(@user_quiz.id) %>%<br>
  			<strong>% of students who took this quiz: </strong>100%<br>
  			<strong>Results status: </strong><%= @availability %>
  		</p>

		<table style="width:100%" class="index">
		  <tr>
		    <td>Student</td>
		    <td>Result</td> 
		    <td>Attempts Taken</td>
		    <td></td>
		  </tr>
		  <tr>
		    <td style="width:auto;"><%= User.find(@user_quiz.student_id).username %></td>
		    <td style="width:auto;"><%= grade(@user_quiz.id) %>%</td> 
		    <td style="width:auto;"><%= @user_quiz.attemptsTaken %></td>
		    <td style="width:5%;"><button type = "button" class="btn btn-default">
			<%= link_to 'View Answers', student_detail_user_quizzes_path(:id => @user_quiz.id) %></button></td>
		  </tr>
		</table>
		<% else %>
			This quiz has not been taken yet
		<% end %>
  	</div>
</div>

<button type = "button" class="btn btn-default">
<%= link_to 'Edit', edit_user_quiz_path %></button>