<%= form_for @category do |f| %>
 
    <% if @category.errors.any? %>
	    <div id="error_explanation" class = "alert alert-danger">
		      <h3>
		        <%= pluralize(@category.errors.count, "error") %> prohibited
		       	this category from being saved:
		      </h3>
			      <ul>
			        <% @category.errors.full_messages.each do |msg| %>
			          <li><%= msg %></li>
			        <% end %>
			      </ul>
	    </div>
	<% end %>


	<div class="field form-group">
	<p>
		<%= f.label :categoryBody, "Name", class: 'control-label' %><br>
		<%= f.text_field :categoryBody, class: 'form-control' %>
	</p>
	</div>

	<br>


	<div class="actions form-group" id="button_text">
	<p>
	<%= button_tag(type: 'submit', class: "btn btn-primary button-submit") do %>
 	Submit
	<% end %>
	</p>
	</div>

<% end %>